* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    background-color: black;
}

h2 {
    text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
    color: #e70012;
}

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Kdam+Thmor+Pro&family=Oswald:wght@200&family=Pacifico&display=swap');