* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Kdam+Thmor+Pro&family=Oswald:wght@200&family=Pacifico&display=swap');