* {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Kdam+Thmor+Pro&family=Oswald:wght@200&family=Pacifico&display=swap');

body {
    margin: 0;
}

button {
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 4px 3px 8px 0px #f8f6f6;
    border: none;
}

.headerContainer {
    display: flex;
    justify-content: center;
    background-color: #C70039;
    color: whitesmoke;
}

.navBarContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: #C70039;
    padding-bottom: 20px;
}

.title {
    display: flex;
    justify-content: center;
    color: #C70039;
}

.container {
    display: flex;
    border: 1px solid #C70039;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-left: 5%;
    border-radius: 20px;
    box-shadow: 4px 3px 8px 0px #C70039;
}

.card {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: rgba(240, 248, 255, 0.241);
}

img {
    width: 300px;
    margin: 20px;
    border-radius: 20px;
}